# See https://iconify.design/docs/api/hosting-js/config.html
# Port to use
PORT=80

# Enables /version query
ENABLE_VERSION=true

# Enables icons list queries
ENABLE_ICON_LISTS=true

# Enables search engine. Requires ENABLE_ICON_LISTS to be enabled
ENABLE_SEARCH_ENGINE=true

# String to return in /version query (if enabled), can be used to identify server if running multiple servers
STATUS_REGION=NL

# Icon set update config
ALLOW_UPDATE=true
UPDATE_THROTTLE=60
UPDATE_REQUIRED_PARAM=secret-key
APP_UPDATE_SECRET=secret-value

# Cache directory
CACHE_ROOT_DIR=cache

# Memory management: split icon sets in chunk for caching. Set to 0 to disable
SPLIT_CHUNK_SIZE=0
SPLIT_MIN_ICONS_PER_CHUNK=50

# Memory management: number of chunks in memory. Set to 0 to disable
STORAGE_MAX_COUNT=0
STORAGE_ASYNC_READ=false

# Deployment config, used only at deployment, not at run time
# Key(s) to connect to server, used to setup server and upload files.
# See https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent
DEPLOY_KEY_FILE="/Users/admin/.ssh/id_ed25519.key"
# Pass phrase for key
DEPLOY_KEY_PASS=""
